.transfer-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40413F;
  color: white;
  border-radius: 5px;
  padding: 20px;
  width: 800px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  height: 240px;
  box-sizing: border-box;
  margin-right: auto;
}

.transfer-button-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text-content {
  font-size: 24px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-text {
  font-size: 64px;
  font-weight: bold;
  margin-right: 20px;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.sub-text {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  line-height: 1.5;
  text-align: left;
}

.icons {
  display: flex;
  justify-content: center;  /* 水平方向の中央寄せ */
  align-items: center;      /* 垂直方向の中央寄せ */
}

.purchase-icon {
  width: 60%;
  height: 60%;
  object-fit: contain;
}