.internet-qr-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: transparent;
  width: 800px;
  box-sizing: border-box;
  margin-right: auto;
}